
*{  
    margin: 0;
    padding: 0;
    font-family:cursive, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

.write{
    height: 68px;
    width: 68px;
}
.container{
    min-height: 100vh;
    background: #e48ae4 ;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.todo-app{
    width: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 70px;
    border-radius:10px;  
    
}
.todo-app h2{
    color: #002765;
    display :flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    font-family:cursive;
    font-size: 24px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 12px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;

}
button{
    border: none;
    outline: none;
    padding:8px 20px;
    background: #F7328D;
    color:#fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 12px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative; 
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(https://api.iconify.design/ci/checkbox-unchecked.svg?color=%23f7328d&width=80&height=80);
    background-size:cover ;
    background-position: center;
    top:12px;
    left:8px;
    
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://api.iconify.design/fa/check-square-o.svg?color=%23f7328d&width=40&height=40);
   
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #F7328D;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    border-radius: 30%;
    
}
ul li span:hover{
    background: #e6a7c4;
}