* {
  font-family: cursive, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.container {
  display: flex;
  background-color: #e48ae4;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.todo {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: white;
  border-radius: 12px;
}
.todo__heading {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  font-family: cursive;
  font-size: 2.4rem;
}

.todo__icon {
  height: 68px;
  width: 68px;
}

.todo__input {
    border: none;
    outline: none;
    background-color: #c9dafa;
    border-radius: 12px;
    padding: 12px;
    font-size: 2rem;
    flex: 1;
  }
.todo__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c9dafa;
  border-radius: 12px;
  margin-bottom: 24px;
}

button {
  background-color: #f7328d;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 8px 20px;
}
.todo__list li {
  list-style: none;
  font-size: 1.7rem;
  padding: 15px 12px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #b9e9ff;
  margin-bottom: 8px;
  border-radius: 12px;
}
.todo__list li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  background-image: url(https://api.iconify.design/ci/checkbox-unchecked.svg?color=%23f7328d&width=80&height=80);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
.todo__list li.checked {
  text-decoration: line-through;
  color: #f7328d;
}
.todo__list li.checked::before {
  background-image: url(https://api.iconify.design/fa/check-square-o.svg?color=%23f7328d&width=40&height=40);
}
.todo__list li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  color: #f7328d;
  font-weight: bolder;
  line-height: 40px;
  text-align: center;
  border-radius: 30%;
}
.todo__list li span:hover {
  background: #e6a7c4;
}
